body {
    margin: 0;
    padding: 0;
    background-color: #DBDBDB;
}

header {
    background-color: #A08963;
    padding: 5vw;
    text-align: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-right: 1.25rem;
}

nav a {
    color: #DBDBDB;
    text-decoration: none;
    font-size: 4vw;
    padding: 6px;
}

section.a h1 {
    padding-left: 5%;
color: #706D54;
font-size: 40px;
}

section.a h3 {
    padding-left: 7%;
    color: #706D54;
    font-size: 2.1rem;
}

section.a p {
    margin-top: -5%;
    text-align: justify;
    padding: 7%;
    color: #706D54;
    text-indent: 10%;
    font-size: 120%;
}

section.a img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

section.a img:hover {
    cursor: pointer;
    opacity: 0.8;   
    transition-duration: 0.5s;
}

section.b h3 {
    margin-top: 5%;
    text-align: center;
    color: #706D54;
    font-size: 40px;
    margin-top: -5%;
}

* {box-sizing: border-box}
body { margin:0}
.mySlides {display: none}
img {
    vertical-align: middle;
    justify-content: center;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media only screen and (max-width: 300px) {
  section.a p {font-size: 11px}
  section.a img {width: 80%;}
}



