h1 {
text-align: center;
color: #DBDBDB;
font-size: 5vw;
margin: 2% 5%;
}

section.a p {
    text-align: justify;
    padding-left: 7%;
    padding-right: 5%;
    color: #DBDBDB;
    text-indent: 7%;
    font-size: 2vw;
    padding-bottom: 2%;
}

section.a img {
    width: 50%;
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

.b {
    background-color: #DBDBDB;
    padding-top: 2%;
    padding-bottom: 4%;
}

.b h2 {
    margin-top: 4%;
    font-size: 3.5vw;
    color: #706D54;
    text-align: center;
}

.b h3 {
    font-size: 3vw;
    color: #706D54;
    margin-left: 15%;
    margin-top: 3%;
}

.b img {
    float: left;
    margin-left: 5%;
    width: 40%;
    padding: 2%
}

.b p {
    color: #706D54;
    font-size: 2vw;
    margin-top: 2%;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-indent: 7%;
}

.c {
    padding-top: 2%;
    padding-bottom: 4%;
}

.c h3 {
    font-size: 3vw;
    color: #DBDBDB;
    text-align: center;
    padding: 2%;
}

.c img {
    float: left;
    margin-left: 5%;
    width: 40%;
    padding: 2%
}

.c p {
    color: #DBDBDB;
    font-size: 2vw;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;;
    padding-bottom: 2%;
    text-indent: 7%;
}

.d {
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: #706D54;
}

.d h3 {
    font-size: 3vw;
    color: #DBDBDB;
    text-align: center;
    padding: 2%;
}

.d img {
    width: 40%;
    margin-left: 30%;
}

.d p {
    color: #DBDBDB;
    font-size: 2vw;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;;
    text-indent: 7%;
}

section.e {
    padding: 4%;
    background-color: rgba(207, 207, 207, 0.238);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin: auto;
}

section.e h2 {
    text-align: center;
    padding-bottom: 3%;
    font-size: 3.5vw;
    color: #DBDBDB;
}

#container {
  width: 75%;
  aspect-ratio: 2/1;
  margin: auto;
  border: solid black 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: #DBDBDB;
  margin-bottom: 6%;
}

.card {
    padding: 3%;
    font-size: 3vw;
    color: #706D54;
}

.card2 p {
    padding: 2%;
    font-size: 2vw;
    color: #706D54;
    text-align: justify;
    text-indent: 4%;
}
#container img{
    width: 100%;
}
