section.a h1 {
padding-left: 5%;
padding-top: 4%;
padding-bottom: 2%;
color: #DBDBDB;
font-size: 5vw;
}

section.a p {
    text-align: justify;
    padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 4%;
    color: #DBDBDB;
    text-indent: 7%;
    font-size: 2vw;
}

section.b h1 {
    text-align: center;
    color: #DBDBDB;
    font-size: 4vw;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
}

.card {
    width: 325px;
    background-color: #DBDBDB;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
    margin:2%;
    padding-bottom: 1%; 
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    text-align: center;
    color: #706D54;
    margin-left: 10%;
    margin-right: 10%;
}

.card p {
    margin-left: 3%;
    margin-right: 3%;
    color: #706D54;
    text-align: center;
}

.card img:hover {
    opacity: 0.8;   
    transition-duration: 0.3s;
}

.button {
background-color: #706D54;
border-radius: 7px;
border: none;
color: #DBDBDB;
padding: 15px 32px;
align-items: center;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
margin-left: 30%;
transition-duration: 0.5s;
cursor: pointer;
}

.button:hover {
    background-color: #C9B194;
    color: #706D54;
}

