section.a, .b {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 3%;
}

section.a h1 {
    font-size: 5vw;
    color: #DBDBDB;
}

section.a p {
    font-size: 2vw;
    padding: 1%;
    text-indent: 6%;
    text-align: justify;
    color: #DBDBDB;
}


section.a img {
    width: 50%;
    float: right;
    padding: 1%;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

section.b img {
    width: 45%;
    float: left;
    padding: 1%;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

section.b p {
    font-size: 2vw;
    padding: 1%;
    text-indent: 6%;
    text-align: justify;
    color: #DBDBDB;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
}

.card {
    width: 325px;
    background-color: #DBDBDB;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
    margin:2%;
    padding-bottom: 1%; 
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    text-align: center;
    color: #706D54;
    margin-left: 10%;
    padding: 3%;
    margin-right: 10%;
}

.card p {
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    color: #706D54;
    text-align: center;
}

.card img:hover {
    opacity: 0.8;   
    transition-duration: 0.3s;
}

.button {
background-color: #706D54;
border-radius: 7px;
border: none;
color: #DBDBDB;
padding: 15px 32px;
align-items: center;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 4px;
margin-left: 30%;
transition-duration: 0.5s;
cursor: pointer;
}

.button:hover {
    color: #706D54;
    background-color: #C9B194;
}

 




