h1 {
text-align: center;
color: #DBDBDB;
font-size: 5vw;
margin: 2% 5%;
}

section.a p {
    text-align: justify;
    padding-left: 7%;
    padding-right: 5%;
    color: #DBDBDB;
    text-indent: 7%;
    font-size: 2vw;
    padding-bottom: 3%;
}

section.a img {
    width: 50%;
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

.b {
    background-color: #DBDBDB;
    padding-top: 2%;
}

.b h2 {
    margin-top: 4%;
    font-size: 3.5vw;
    color: #706D54;
    text-align: center;
}

.b h3 {
    font-size: 3vw;
    color: #706D54;
    margin-left: 6%;
}

.b p {
    color: #706D54;
    font-size: 2vw;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}