* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #dbdbdb;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #A08963;
    position: relative;
    height: 70px;
}

.logo a{ 
    color: #DBDBDB;
    margin: 5% 5%;
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 40px;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: #DBDBDB;
}

nav ul li a:hover {
    background-color: #706D54;
    color: #dbdbdb;
    border-radius: 3px;
    transition-duration: 0.4s;
}


.menu-icon{
    display: none;
}

.menu-icon i {
    font-size: 30px;
    color: #706D54;
}

.menu-icon i:hover {
    transition-duration: 0.5s;
    cursor: pointer;
}

@media(max-width:600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #dbdbdb;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 10px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5;
    }
}

section.a, .b {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: -5%;
}

section.a h1 {
    font-size: 5vw;
}

section.a, p {
    font-size: 2vw;
    padding: 1%;
    text-indent: 6%;
    text-align: justify;
}


section.a img {
    width: 50%;
    float: right;
    padding: 1%;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

section.b img {
    width: 45%;
    float: left;
    padding: 1%;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

section.b p {
    font-size: 2vw;
    padding: 1%;
    text-indent: 6%;
    text-align: justify;
}

