* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #A08963;
    font-family: sans-serif, arial;
}

nav {
    background-color: #dbdbdb;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #706D54;
    color: #dbdbdb;
    transition: 0.7s;
}

nav a.active {
  border-bottom: 3px solid rgb(0, 0, 0);
}


nav li:first-child{
    margin-right: auto;
}

nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1100;
    background-color: #dbdbdb42;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: right 0.3s ease;
}

.sidebar li, 
.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width:900px){
    .hideonMobile{
        display: none;
    }
    .menu-button{
    display: block;
}
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
    .menu-button{
    display: block;
}
}



