body {
    margin: 0;
    padding: 0;  
}

header {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 40px;
    text-align: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    display: inline-block;
    margin-right: 1.25rem;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.25rem;
}

