body {
    margin: 0;
    padding: 0;
    background-color: rgb(160, 137, 99);
}

header {
    background-color: rgb(219, 219, 219);
    padding: 40px;
    text-align: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    display: inline-block;
    margin-right: 1.25rem;
}

nav a {
    color: #706D54;
    text-decoration: none;
    font-size: 1.25rem;
}

