* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #A08963;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dbdbdb;
    position: relative;
    height: 70px;
}

.logo a{ 
    color: #706D54;
    margin: 5% 5%;
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 40px;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: #706D54;
}

nav ul li a:hover {
    background-color: #706D54;
    color: #dbdbdb;
    border-radius: 3px;
    transition-duration: 0.4s;
}


.menu-icon{
    display: none;
}

.menu-icon i {
    font-size: 30px;
    color: #706D54;
}

@media(max-width:600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #dbdbdb;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 10px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5;
    }
}
